

       .header {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        background-color: white;
       }

       .head1{
        width: 20%;
       }

       .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
        margin-left: 10%;
        width: 60%;
        


       }

       .about p{
        float: right;
        margin: 10px;
        
        
       }
       .lean {
        display: flex;
        align-items: center;
  
        background-color: green;
        
        width: 20%;
        
        
       }

       .lean p{
        
        
        text-align: center;
        color: white;
        margin-left: 35%;
       
        
        
        float:right;
        
        
       }

       .contact h2{
        color: rgb(88, 158, 88);
       }

       .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5%;
    }

    .yellowT {
        margin: 2px; 
        color: white; 
        background-color: yellow ;
        padding: 1px;

    }

    .greenT{
        margin: 2px;
        color: white;
        background-color: green ;
        padding: 2px 2px;
        margin-right: 20px;
    }


    .columnA {
        margin-left: 5%;
        width: 50%;
    }

    .columnB {
        width: 50%;
    }
    .add {
        display: flex;
        flex-direction: row;
        align-items: center;
        


    }
    .tel {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10%;


    }

    .Email {
        display: flex;
        flex-direction: row;
        align-items: center;


    }

    .row2{
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-bottom: 5%;
    }

    .columnC{
        
        width: 50%;
        margin-left: 5%;
    }
    .columnC p{
        color: rgb(0, 84, 0);
    }

    .columnD p{
        color: rgb(0, 84, 0);
    }

    .row3{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .line1 {
        width: 33%;
    }
    .line2 {
        width: 33%;
    }
    .line3 {
        width: 33%;
    }

    .row4 {
        display: flex;
        flex-direction: row;
        background-color:green ;
    }
    .footer1{
        width: 25%;
    }
    .footer2{
        width: 25%;
    }
    .footer3{
        width: 25%;
    }
    footer4{
        width: 25%;
    }
    .footerrow1{
        margin-left: 5%;
        color: white;
    }
    .footerrow2{
        
        color: white;
    }
    .footerrow3{
        display: flex;
        flex-direction: column;
        align-items: start;
    }



    @media only screen and (max-width: 700px) {
        /* .header {width: 40%;} */
        .head1 {width: 30%}
        .about p{font-size: x-small;}
        .about {width: 40%;float: inline-start;margin: 5px;}
        .yellowT {width: 40%;float: inline-start;}
        .greenT {width: 40%;float: inline-start;}
        .lean {margin-left:60px ;}
        .lean p{width: 10%;text-align: right;margin-left: 35%;font-size: small;}
        
        .columnB{width: 100%; height: 100%;margin-left: 50%;align-items: center;}
        .columnD{margin-left: 5%;}
        .row{display: flex;flex-direction: column;}
        .row2{display: flex;flex-direction: column;}
        .row3{display: flex;flex-direction: column;align-items: start;}
        .footer1 p{font-size: small;}
        .footer2 p{font-size: small;}
        .footer3 p{font-size: small;}
        .footer4 p{font-size: small;}


        
    }
       
       
       /* .header h1 {
            background-color: green;
            float: left;
            display: block;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .header h3 {
            background-color: green;
            float: right;
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .header h5 {
            background-color: rgb(255, 255, 255);
            float: inline-start;
            display: block;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .column h1 {
            text-align: center;
        }

        .column h3 {
            text-align: center;
            color: rgb(53, 151, 151);
        }

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .row2 {
            display: flex;
            flex-direction: row;
            align-items: start;
        }

        .add {
            display: flex;
            flex-direction: row;
            align-items: center;


        }

        .add1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            border: 10px;


        }

        .tel {
            display: flex;
            flex-direction: row;
            align-items: center;


        }

        .tel1 {
            display: flex;
            flex-direction: column;
            align-items: start;

        }

        .Email {
            display: flex;
            flex-direction: row;
            align-items: center;


        }

        .Email1 {
            display: flex;
            flex-direction: column;
            align-items: start;
        } */

        /* .columnA,
        .columnB,
        .columnC,
        .columnD {
            float: left;
            width: 31%;
            padding: 15px;
            text-align: justify;
        } */

        /* h2 {
            color: green;
            text-align: center;
        }






        .columnA {
            display: flex;
            flex-direction: column;
            align-items: start;
            float: inline-start;
            width: 50%;
        }

        .columnA h3 {
            color: rgb(71, 165, 90);
        }

        .columnA p {
            color: gray;
        }


        .columnC {
            float: inline-start;
            width: 50%;
        }

        .columnC h2 {
            color: black;
            float: left;


        }

        .columnC p {
            color: rgb(71, 165, 90);
        }

        .columnD p {
            color: rgb(71, 165, 90);
        }









        .row3 {
            display: flex;
            flex-direction: row;
            align-items: start;

            background-color: green;
            padding: 15px;
            
        }

        .footer1{
            width: 25%;
        }
        .footer2{
            width: 25%;
        }
        .footer3{
            width: 25%;
        }
        .footer4{
            width: 25%;
        }

        .footer1 h1{
            color: aliceblue;
            display: flex;
            flex-direction: column;

        }
        .footer1 p{
            color: aliceblue;
        }


        .footer2 h1{
            color: aliceblue;
            display: flex;
            flex-direction: column;

        }
        .footer2 p{
            color: aliceblue;
        }

        .footer3 h1{
            color: aliceblue;
        }

        .galoo {
            display: flex;
            flex-direction: column;
        }

        .footer4 h1{
            color: aliceblue;
            display: flex;
            flex-direction: column;
        }
        .footer4 p{
            color: aliceblue;
            display: flex;
            flex-direction: column;
        } */


  